/**
* @name Transparency for Video Background
* @version 1.0
* @description Transparency for Video Background
* @source https://github.com/Fuguu/videoBackground
* @authorId 83151710654038016
* @author Fugu
**/

.theme-dark{
    /*change last value from 0.0-1.0 to adjust darkness*/
  --background-tertiary: rgba(25, 25, 25, 0.70); 
  --background-primary: transparent;
  --background-secondary: transparent;
  --background-secondary-alt: transparent;
  --channeltextarea-background: transparent;
  }
  
  
  .wrapper-3NnKdC,
  .scroller-1Bvpku,
  .app-2rEoOp{
    background: transparent;
  }
  
  
  .fullscreen-bg video,
  .fullscreen-bg-video{
    position: fixed;
    top: 50%; left: 50%;
    z-index: -100;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
  }
