/**
* @name Transparency for Video Background
* @version 1.0
* @description Transparency for Video Background
* @source https://github.com/Fuguu/videoBackground
* @authorId 83151710654038016
* @author Fugu
**/

/*change last number to adjust darkness */
.da-bg{ background-color: rgba(25, 25, 25, 0.80);}

.fullscreen-bg video,
.fullscreen-bg-video{
  position: fixed;
  top: 50%; left: 50%;
  z-index: -100;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
}

/*Transparency*/
.da-container,
.da-wrapper,
.da-base,
.da-layer,
.da-layers,
.da-sidebar,
.da-app,
.da-chat,
.da-content,
.da-embedFull,
.da-scroller,
.da-panels,
.da-nowPlayingColumn,
.da-privateChannels,
.da-applicationStore,
.da-contentRegion,
.da-standardSidebarView,
.da-contentRegionScroller,
.da-sidebarRegionScroller,
.da-members,
.da-inset,
.da-systemPad,
.content-region,
.content-region-scroller,
.da-form:before
{background: transparent !important; border: 0px;}

.da-bodyInner, /*User Cards*/
.da-grid /*Embedded Items - change last number to adjust darkness */
{ background: rgba(25, 25, 25, 0.5) !important;}
