 /*change last number to adjust darkness */
.da-bg{ background-color: rgba(25, 25, 25, 0.80);}

.fullscreen-bg-video {
  position: fixed;
  top: 50%; left: 50%;
  z-index: -100;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
}

.fullscreen-bg video {
  position: fixed;
  top: 50%; left: 50%;
  z-index: -100;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
}

/*Transparency*/
.da-container,
.da-wrapper,
.da-base,
.da-layer,
.da-layers,
.da-sidebar,
.da-app,
.da-chat,
.da-content,
.da-embedFull,
.da-panels,
.da-nowPlayingColumn,
.da-privateChannels,
.da-applicationStore,
.da-contentRegion,
.da-standardSidebarView,
.da-members,
.da-systemPad,
.content-region,
.content-region-scroller,
.da-form:before
{background: transparent !important; border: 0px;}

.da-bodyInner, /*User Cards*/
.da-grid /*Embedded Items*/
{ background: #2f3136 !important;}
